# ------------------------------
# Node / Frontend
# ------------------------------
node_modules/
dist/
build/
*.log

# ------------------------------
# Environment / Secrets
# ------------------------------
.env
.env.*
*.key
*.pem
*.crt
*.secret
secrets.yaml

# ------------------------------
# Kubernetes / DevOps
# ------------------------------
.kube/
kubeconfig
*.kubeconfig

# Helm
*.tgz

# Terraform (if you add later)
.terraform/
*.tfstate
*.tfstate.*

# ------------------------------
# Docker
# ------------------------------
docker-compose.override.yml

# ------------------------------
# Logs / Temp
# ------------------------------
*.log
*.tmp
tmp/
temp/

# ------------------------------
# OS Files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# VS Code
# ------------------------------
.vscode/

# ------------------------------
# Misc
# ------------------------------
coverage/
*.swp
*.bak